
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    background-image: url(back2.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}


header {
    background-color: #400602;
    color: #fff;
    text-align: center;
    padding: 1rem;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#task-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}


.input-container {
    margin-bottom: 1.5rem;
}


.input-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
}


.input-container input,
.input-container select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}


#add-task-form button[type="submit"] {
    background-color: #400602;
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-task-form button[type="submit"]:hover {
    background-color: #400602;
}

.task-item {
    background-color: #e5acb6;
    border: 1px solid #d3d3d3;
    color: #400602;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}


.task-item h3 {
    margin-top: 0;
    font-size: 1.25rem;
    color: #fff;
    margin-bottom: 0.5rem;
}


.task-item p {
    margin: 0;
    color: #660000;
}


.task-item .priority-label {
    margin-top: 0.5rem;
    font-weight: bold;
    color: #ff8c00;
    text-transform: uppercase;
}


.task-item .label {
    margin-top: 0.5rem;
    font-weight: bold;
    color: #333;
}
